@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.bg-cover-img{
  background-image: url('/Images/Hompage-background.jpg');
  background-size: cover;
}